@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Left-sider {
  width: 16%;
  color: white;
}

.Right-sider {
  color: white;
}

.Content-main {
  min-height: 60vh;
  height:100%;
}

.App-footer {
  height: 70px;
  background-color: #999;
  opacity: 0.5;
  color: red;
  font-weight: bolder;
  position: relative;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
